<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AcademicTrackerApp"
        tools:targetApi="31">
        <activity
            android:id="@+id/navigation_marks_list"
            android:name=".Imraan.grade.MarksListActivity"
            android:label="Grade List"
            android:parentActivityName=".MainActivity" />
        <activity
            android:id="@+id/navigation_marks"
            android:name=".Imraan.grade.MarksActivity"
            android:label="Add Grade"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Imraan.TimeTable.TimetableActivity"
            android:label="Timetable"  />
        <activity
            android:name=".Imraan.TimeTable.TaskCreationActivity"
            android:label="Add Module/Task" />
        <activity
            android:name=".Imraan.userEngagement.SupportActivity"
            android:label="User Support" />
        <activity
            android:name=".katiana.login.LoginFragment"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".katiana.registration.RegistrationFragment"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".katiana.LinkPages"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".katiana.userProfile.UserProfileFragment"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".katiana.materialMarketplace.MaterialMarketplace"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Imraan.Chatbot.MainChatBotctivity"
            android:label="ChatBot"
            android:theme="@style/Theme.AcademicTrackerApp">

            <!-- Optional: Set launch mode or other settings -->
        </activity>
    </application>

</manifest>